/* PageHeadWithImage */

.navSection {
    background-color: var(--blue);
}

.navSectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: .5rem;
}

.breadcrumbsMenuContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.breadcrumbs {
    font-weight: 600;
    font-size: large;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.breadcrumbs p {
    margin: 0;
    padding: .5rem 0;
    color: var(--white);
}

.breadcrumbsSeparator {
    padding: .5rem 0;
    margin: 0 .25rem;
    color: var(--white);
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 0;
    z-index: -1;
}

.nav.active {
    height: initial;
    z-index: initial;
}

.nav li {
    width: 100%;
    text-align: end;
}

.navItem {
    margin: 0;
    cursor: pointer;
    color: var(--white);
}

.navItem:hover {
    text-decoration: underline;
}

.hr {
    width: 100%;
    margin: 0;
}

.imageSectionLinks {
    padding: 1.5rem;
    margin: 0;
    color: var(--blue);
    background-color: var(--white);
    width: 100%;
    max-width: 248px;
}

.imageSectionLinkItem {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.imageSectionLinkBullet {
    padding-left: .5rem;
}

.imageSectionLinkText {
    text-align: end;
}

.imageSectionLinkItem:hover .imageSectionLinkText {
    text-decoration: underline;
}

.imageSectionSearch {
    height: 2.5rem;
    display: none;
    flex-direction: row-reverse;
    justify-content: center;
    width: 400px;
}

.navSectionSearch {
    width: 400px;
    height: 2.5rem;
    display: none;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.navSectionMobileSearch {
    height: 3rem;
    width: 100%;
    padding-top: .5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.searchInput {
    height: 100%;
    width: 100%;
    padding-left: .5rem;
    border-color: var(--white);
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
}

.searchInput:focus {
    outline: none;
}

.searchBtn {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
}

.searchBtn:hover,
.searchBtn:active {
    background-color: var(--offWhite);
}

.magnifierContainer {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
}

.imageSection {
    height: 24rem;
    padding: 3rem 1rem 6rem;
    background-image: url('/assets/bg/bg.jpg');
    background-position: center;
    background-size: cover;
}

.imageSectionContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

@media(min-width:768px) {
    .navSectionContainer {
        flex-direction: row-reverse;
        align-items: center;
    }
    .navSectionSearch {
        display: flex;
    }
    .navSectionMobileSearch {
        display: none;
    }
    .navItem {
        width: max-content;
        padding: .5rem;
    }
    .nav {
        flex-direction: row-reverse;
        height: inherit;
        z-index: inherit;
    }
    .hr {
        display: none;
    }
    .menuBtn {
        display: none;
    }
    .imageSectionSearch {
        display: flex;
    }
}