.footerTop {
    background-color: var(--blue);
    color: var(--white);
}

.footerTopContainer {
    max-width: 1200px;
    margin: auto;
}

.footerLinks {
    padding: 2rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.serviceLinks {
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.serviceLinks h3 {
    margin: 0 0 .5rem;
    width: 100%;
    padding: 0 .5rem;
    text-align: start;
}

.serviceLinks ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.serviceLinks li {
    display: flex;
    justify-content: flex-start;
    padding: .5rem;
}

.footerBottom {
    color: var(--blue);
}

.footerBottomContainer {
    max-width: 1200px;
    margin: auto;
}

.footerLang {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.5rem;
}

.lang {
    margin: 0 .5rem;
}

.currentLang {
    color: var(--white) !important;
    background-color: var(--blue) !important;
}