.layout {
    min-height: 100vh;
}

.layout {
    --white: #FFFFFF;
    --offWhite: #ddd;
    --black: #333;
    --blue: #4078c0;
    --apricot: #F4CBB2;
    --green: #6cc644;
    --orange: #c9510c;
    --red: #bd2c00;
    --purple: #6e5494;
    --aero: #7DBBE6;
}