.sliderContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.sliderContainer:hover .slidePreviousBtn,
.sliderContainer:hover .slideNextBtn {
    opacity: 1;
}

.slider {
    width: 100%;
    height: 100%;
    display: flex;
    width: max-content;
}

.slidePreviousBtn,
.slideNextBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: absolute;
    height: 100%;
    opacity: 0.3;
    background-color: transparent;
}

.PreviousBtn,
.NextBtn {
    background-color: transparent;
}

.PreviousBtn {
    transform: rotateZ(-90deg);
}

.NextBtn {
    transform: rotateZ(90deg);
}

.slideNextBtn {
    right: 20px;
}

.slidePreviousBtn {
    left: 20px;
}

.card {
    margin: 0;
    margin: 0 20px;
    width: 210px;
    height: 140px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card1 {
    background-image: url('/assets/showcases/tech_career_270x180.jpg');
}

.card2 {
    background-image: url('/assets/showcases/next_weather_270x180.jpg');
}

.card3 {
    background-image: url('/assets/showcases/next_memo_270x180.jpg');
}

.card4 {
    background-image: url('/assets/showcases/snake_270x180.jpg');
}

.card5 {
    background-image: url('/assets/showcases/weather_270x180.jpg');
}

.card6 {
    background-image: url('/assets/showcases/memories_270x180.jpg');
}