/* PageHeadWithImage */

.navSection {
    background-color: var(--blue);
    color: var(--white);
}

.navSectionContainer {
    display: flex;
    max-width: 1200px;
    height: 57px;
    margin: auto;
    padding: .5rem;
}

.nav {
    font-weight: 600;
    font-size: large;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    min-width: max-content;
}

.breadcrumbs {
    display: flex;
    justify-self: flex-start;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.menuList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 57px;
    left: 0;
    width: 100%;
    background-color: var(--blue);
    z-index: -1;
}

.menuList.active {
    z-index: 1;
}

.menuList li {
    padding: .5rem;
    display: flex;
    justify-content: flex-start;
}

.hr {
    width: calc(100% - 1rem);
    margin: 0 .5rem;
}

.imageSection {
    height: 24rem;
    padding: 3rem 1rem 6rem;
    background-color: #333;
    background-image: url('/assets/bg/bg.jpg');
    background-position: center;
    background-size: cover;
}

@media(min-width:768px) {
    .menuList {
        flex-direction: row;
        z-index: 1;
        position: relative;
        top: initial;
        justify-content: flex-end;
    }
    .hr {
        display: none;
    }
}