.container {
    padding: 4rem 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.title {
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
}

.errorContainer {
    background-color: #333;
    background-image: url('/assets/bg.jpg');
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
}

.errorTitleContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title span {
    color: #0070f3;
}

.path {
    word-break: break-all;
    margin: 2rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
    color: #eaeaea;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 0 1.5rem;
}

.recommendationsTitle {
    text-align: center;
}

.link {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    margin: .5rem;
    padding: 0 .5rem;
    line-height: 1.5;
    font-size: 1.5rem;
    color: #eaeaea;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #eaeaea;
    border-radius: 10px;
}

.link:hover,
.link:focus,
.link:active {
    cursor: pointer;
    color: #0070f3;
    border-color: #0070f3;
    background-color: rgba(234, 234, 234, 0.5);
    transition: color 0.15s ease, border-color 0.15s ease, background-color 0.15s ease;
}