.forms {
    flex: 1;
    width: 100%;
    background-color: #333;
    display: flex;
}

.resumes,
.websites,
.messages {
    max-width: 300px;
}

.input_container {
    width: 100%;
    padding: .3rem;
    display: flex;
    justify-content: center;
}

.textarea,
.input {
    padding: .5rem;
    border: none;
    font-size: large;
    text-align: right;
    width: 100%;
    max-width: 500px;
}

.input {
    height: 2rem;
}

.textarea {
    height: 5rem;
    resize: none;
}

.textarea:hover,
.input:hover {
    background-color: #ddd;
}

.textarea:focus,
.input:focus {
    border: 1px solid #7DBBE6;
    outline: none;
    box-shadow: 0 0 10px #eaeaea;
    background-color: #ddd;
}

.submitBtn_container {
    width: 100%;
    padding: .3rem;
    font-size: large;
    font-size: small;
    display: flex;
    justify-content: center;
}

.submitBtn_container:hover .submitBtn {
    background-color: rgb(56, 162, 238);
    animation-name: submitBtn;
    animation-duration: .1s;
    transform: scale(.9);
}

.submitBtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    background-color: #7DBBE6;
    width: 100%;
    max-width: 500px;
    height: 2rem;
    border: none;
}

@keyframes submitBtn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.9);
    }
}