/* contact */

.container {
    max-width: 1200px;
    text-align: end;
    margin: auto;
    padding: 0 .25rem;
}

.contact {
    text-align: right;
    max-width: 800px;
    margin: 3rem auto 4rem;
    direction: rtl;
}

.contact h1 {
    font-size: larger;
    color: var(--blue);
}

.contact h2 {
    font-size: larger;
    color: var(--black);
}

.linkItem {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--blue);
}

.linkBullet {
    padding-left: .5rem;
}

.linkText {
    text-align: end;
}

.linkItem:hover .linkText {
    text-decoration: underline;
}

@media(min-width:768px) {
    .links {
        display: flex;
        justify-content: space-between;
    }
}