.contactGridContainer {
    width: 100%;
    background-image: url('/assets/34056.jpg');
    flex: 1;
    display: flex;
    align-items: center;
}

.contactGrid {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    padding: 1rem;
    max-width: 1000px;
    width: 100%;
    background-color: #eaeaea;
    background-color: #333;
    background-image: url('/assets/34040.jpg');
}

.contactGridImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.contactGridImage {
    position: relative;
    width: 100%;
    height: 100vw;
    max-width: 260px;
    max-height: 390px;
}

.contactGridFormContainer {
    width: 100%;
    display: flex;
    align-items: stretch;
    padding: .5rem;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width:500px) {
    .contactGridImage {
        width: 260px;
        height: 390px;
    }
}

@media (min-width:900px) {
    .contactGrid {
        flex-direction: row;
    }
    .contactGridImageContainer {
        padding: 0 2rem 0 0;
    }
}