.homeContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}


/* wallpaper section */

.wallpaperSection {
    position: relative;
    min-height: 100vh;
    flex: 1;
    background-image: url('/assets/bg_1920x1080.jpg');
    background-size: cover;
    background-position: bottom;
}

.titleContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: silver;
    padding-bottom: 10rem;
}

.title {
    line-height: 1.15;
    font-size: 4rem;
}

.subTitle {
    line-height: 1.5;
    font-size: 1.5rem;
}

.title,
.subTitle {
    text-align: center;
    margin: 0;
}

@media (min-width:300px) {
    .titleContainer {
        padding-bottom: 2rem;
    }
}

@media (min-width:400px) {
    .titleContainer {
        padding-bottom: 0rem;
    }
}

@media (min-width:768px) {
    .titleContainer {
        width: 50vw;
    }
}


/* profile section */

.profileSection {
    background-color: silver;
    color: #333;
    padding: 3rem .5rem;
    display: flex;
    align-items: center;
    font-size: large;
}

.profileContainer {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    max-width: 1000px;
}

.profileTextContainer {
    width: 100%;
    margin: 0;
    text-align: right;
}

.profileTextContainer p {
    margin: 0;
}

.profileTextContainer h2 {
    margin: 0 0 .5rem;
}

.profileImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.profileImage {
    position: relative;
    width: 100%;
    height: 100vw;
    max-width: 260px;
    max-height: 390px;
}

.conclusion {
    padding: 1rem 0;
}

.profileLinkContainer {
    flex: 1;
}

.profileSectionBtn {
    padding: .5rem 2rem;
    margin: auto;
    cursor: pointer;
    font-size: large;
    background-color: #7DBBE6;
    color: #333;
    border: none;
}

.profileSectionBtn:hover {
    background-color: rgb(56, 162, 238);
    color: #eaeaea;
    animation-name: profileBtn;
    animation-duration: .1s;
    transform: scale(.9);
}

@media (min-width:768px) {
    .profileContainer {
        flex-direction: row;
    }
    .profileImageContainer {
        padding-right: 2rem;
    }
    .profileImage {
        width: 260px;
        height: 390px;
    }
}

@keyframes profileBtn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.9);
    }
}


/* contact section */

.contactSection {
    background-image: url('/assets/34056.jpg');
    color: #eaeaea;
    font-size: large;
    padding: 3rem .5rem;
}

.contactSection p {
    margin: 0 0 .5rem;
}

.contactSection h2 {
    margin: 0 0 .5rem;
    color: silver;
}

.contactContainer {
    max-width: 1000px;
    text-align: right;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contactGrid {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.contactGridItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .5rem;
}

.contactGridSvg {
    margin: 1rem;
}

.contactLinkContainer {
    margin: auto;
}

.contactSectionBtn {
    padding: .5rem 2rem;
    margin: 0 auto;
    cursor: pointer;
    font-size: large;
    background-color: #7DBBE6;
    color: #333;
    border: none;
    width: 100%;
}

.contactSectionBtn:hover {
    background-color: rgb(56, 162, 238);
    color: #eaeaea;
    animation-name: contactBtn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@media (min-width:1025px) {
    .contactGrid {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .contactGridItem {
        width: 25%;
        padding: 0 1rem;
    }
}

@keyframes contactBtn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}


/* showcases section */

.showcasesSection {
    background-color: silver;
    color: #333;
    padding: 5rem .5rem;
    display: flex;
    font-size: large;
    align-items: center;
}

.showcasesContainer {
    text-align: right;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 250px;
}

.showcasesContainer h2 {
    margin: 0 0 .5rem;
}

@media (min-width:550px) {
    .showcasesContainer {
        max-width: 500px;
    }
}

@media (min-width:800px) {
    .showcasesContainer {
        max-width: 750px;
    }
}

@media (min-width:1050px) {
    .showcasesContainer {
        max-width: 1000px;
    }
}


/* toolbox */

.toolboxSection {
    background-image: url('/assets/34056.jpg');
    padding: 3rem .5rem;
    font-size: large;
}

.toolboxSection h2 {
    color: silver;
    margin: 0 0 .5rem;
}

.toolboxContainer {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    text-align: right;
    margin: 0 auto;
}

.toolboxGrid {
    display: flex;
    flex-direction: column;
}

.toolboxGridItem {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.toolboxGridSubItem {
    display: flex;
}

.toolboxGridSubItemP {
    display: none;
    margin: 0 .5rem;
    text-align: left;
    padding: 0 1rem;
    background-color: #111;
    color: #eaeaea;
    border-radius: 10px;
    line-height: 1.8rem;
}

.hr {
    width: 100%;
}

@media (min-width:768px) {
    .toolboxGridSubItemP {
        display: inline-flex;
        align-items: flex-end;
    }
}

@media (min-width:1025px) {
    .toolboxGrid {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .toolboxGridItem {
        flex-direction: column;
        padding: 0 1rem;
        justify-content: flex-start;
    }
    .toolboxGridSubItem {
        margin: 0 0 .5rem 0;
    }
    .hr {
        width: initial;
        margin: 0 .25rem;
    }
}