/* message */

.container {
    max-width: 1200px;
    text-align: end;
    margin: auto;
    padding: 0 .25rem;
}

.messages {
    text-align: right;
    max-width: 800px;
    margin: 3rem auto 4rem;
    direction: rtl;
}