.profilePTop {
    margin: 0;
    max-width: 1000px;
    padding: 1rem;
    margin: 0 auto;
}

.profilePTop p {
    margin: 0;
}

.profileGrid {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: 1000px;
}

.profileGridImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.profileGridImage {
    position: relative;
    width: 260px;
    height: 146.25px;
}

.profileGridTextContainer {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.profileGridTextContainer p {
    margin: 0;
}

.conclusion {
    padding: 1rem;
    flex: 1;
    margin: 0 auto 300px;
    width: 100%;
    max-width: 1000px;
}

@media (min-width:500px) {
    .profileGridImage {
        width: 462px;
        height: 260px;
    }
}

@media (min-width:900px) {
    .profileGrid {
        flex-direction: row;
    }
    .profileGridImageContainer {
        padding: 0 2rem 0 0;
    }
}

@media (min-width:1025px) {
    .conclusion {
        margin: 0 auto;
    }
}