/* profile */

.bgImage {
    background-image: url('/assets/bg/profile.jpg') !important;
    background-position: right !important;
}

.container {
    max-width: 1200px;
    text-align: end;
    margin: auto;
    padding: 0 .25rem;
}

.about {
    direction: rtl;
    text-align: right;
    max-width: 800px;
    margin: 3rem 0 4rem auto;
}

.about h1 {
    color: var(--blue);
    font-size: larger;
}

.about p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2rem;
    color: var(--black);
}

.link {
    color: var(--blue);
}