/* profile */

.bgImage {
    background-image: url('/assets/bg/profile.jpg') !important;
    background-position: right !important;
}

.container {
    max-width: 1200px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding: 0 .25rem;
}

.about {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 4rem
}

.about h1 {
    color: var(--blue);
    font-size: larger;
    text-align: start;
}

.about p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2rem;
    color: var(--black);
    text-align: start;
}